# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/dist

# testing
/test
/client-backup

# misc
/parts_json_files
/parts_sql_files
/.vscode
