[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.7.3"
async-timeout = "==3.0.1"
attrs = "==20.3.0"
backcall = "==0.2.0"
chardet = "==3.0.4"
click = "==7.1.2"
dacite = "==1.6.0"
decorator = "==4.4.2"
greenlet = "==1.0.0"
gunicorn = "==20.1.0"
ipykernel = "==5.5.0"
ipython = "==7.22.0"
itsdangerous = "==1.1.0"
jedi = "==0.18.0"
jinja2 = "==2.11.3"
jupyter-client = "==6.1.12"
jupyter-core = "==4.7.1"
multidict = "==5.1.0"
numpy = "==1.20.1"
pandas = "==1.2.3"
parso = "==0.8.1"
pcpartpicker = "==2.2.2"
pexpect = "==4.8.0"
pickleshare = "==0.7.5"
prompt-toolkit = "==3.0.18"
ptyprocess = "==0.7.0"
py-moneyed = "==0.8.0"
python-dateutil = "==2.8.1"
pytz = "==2021.1"
pyzmq = "==22.0.3"
six = "==1.15.0"
tornado = "==6.1"
traitlets = "==5.0.5"
typing-extensions = "==3.7.4.3"
wcwidth = "==0.2.5"
yarl = "==1.6.3"
Flask = "==1.1.2"
Flask-SQLAlchemy = "==2.5.1"
ipython_genutils = "==0.2.0"
MarkupSafe = "==1.1.1"
Pygments = "==2.8.1"
SQLAlchemy = "==1.4.3"
Werkzeug = "==1.0.1"
psycopg2-binary = "*"
flask-migrate = "==2.5.2"
flask-script = "*"
marshmallow = "==2.8.0"
flask-bcrypt = "*"
pyjwt = "==1.7.1"
requests = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
